@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 80%;
}
#root {
  max-width: 1280px;
  margin: auto;
  padding: 0 1rem 0 1rem;
}
h1,h2,h3,h4{
  font-family: "Montserrat", serif;

}
:root {
  color-scheme: light;
  --primerycolor: #0052cc;
  --secondarycolor: #f5f7ff;
  --tertiarycolor: #555555;
  --supportcolor: #f8f8f8;
}
li {
  list-style: none;
}
.container {
  border: 2px solid;
  margin: 2rem 0;
  padding:0 1rem ;
}
.hide{
 display: none;
}
.nothide{
display: flex;
}

.scrollbar-extra-thin::-webkit-scrollbar {
  width: 4px; /* Adjust width here */
}

.scrollbar-extra-thin::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* Thumb color */
  border-radius: 8px;
}

.scrollbar-extra-thin::-webkit-scrollbar-track {
  background-color: #e5e7eb; /* Track color */
}



.header {
  position: relative;
  font-size: 24px; /* Adjust font size as needed */
  color: #1E63D8; /* Blue color */
  font-weight: bold;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px; /* Thickness of the line */
  background: linear-gradient(to right, #D1E2FF, #1E63D8); /* Gradient color */
  border-bottom-left-radius: 10px; /* Curve effect */
  
  z-index: -1;
}


.animate-fade-in-out {
  animation: fade-in-out 2s ease-in-out infinite;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}


/* @media(width<=892){
    #root{
      max-width:800px;
    }
  } */
@media (width<= 600px){
  /* html{
    font-size:70% ;
  } */
  .secComponent{
    img{
      order: 2;
    }
  }
}